body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffffffd4;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}
button {
    background-color: #4e4e4e;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 10px;
}
button:hover {
    background-color: #6e6e6e;
}
#task-container div {
    text-align: right;
    background-color: #1e1e1e;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
}
.input-area {
    display: flex;
    justify-content:center;
    gap: 10px;
}
input{
    border-radius: 10px;
}
.task span {
    margin-right: 20px;
    font-size: 1.2em;
    color: #ffffff;
    opacity: 1;
    transition: color 0.3s ease opacity 0.3s ease;

}
.task {
  margin: 10px 0; /* فاصله بین هر تسک از بالا و پایین */
  display: flex; /* متن و دکمه در یک خط قرار بگیرن */
  justify-content: space-between; /* یکی سمت چپ، یکی سمت راست */
  
}
#task-input {
  width: calc(100% - 90px); /* یعنی کل عرض صفحه منهای عرض دکمه */
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  margin-right: 10px; /* فاصله بین input و دکمه */
}
.done {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}
